.user-nav
  %a.user-nav__item.-logo.hide-text
    Podemos
  %a.user-nav__item{href: revised_circles_url}
    /%i.fa.fa-check-square-o
    Ver círculos revisados
  %a.user-nav__item{href: circles_url}
    /%i.fa.fa-child
    Ver círculos nuevos
