<h1>Listing pages</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page["name"] %></td>
        <td><%= link_to facebook_page_url(page["id"]), facebook_page_url(page["id"]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New page', new_page_path %>
