<h1>Círculos nuevos</h1>

<%= link_to 'Buscar en Facebook',   refresh_pages_url %><br/>
<%= link_to 'Ver círculos revisados', revised_pages_url %>

<%= render 'listing', {pages: @pages, title: "Nuevos"} %>