.pagination {
	margin-bottom: $base-unit;
	margin-top: $base-unit;
	> span {
		color: $gray;
        display: inline-block;
		font-size: $milli-size;
		> a {
			color: inherit;
			display: block;
			font-size: inherit;
			padding: 0 $base-unit / 2;
			&:hover{
				background: $light-gray;
			}
		}

		/* Different States of items [current, prev, gap]*/

		&.current{
			color: $blue;
			font-weight: 500;
			padding: 0 $base-unit / 2;
		}
	}
}