/* =============================================================
    RESPONSIVE RESET
    Replace with your own.
 * ============================================================= */

@-webkit-viewport { width: device-width; zoom: 1.0; }
   @-moz-viewport { width: device-width; zoom: 1.0; }
    @-ms-viewport { width: device-width; zoom: 1.0; }
     @-o-viewport { width: device-width; zoom: 1.0; }
        @viewport { width: device-width; zoom: 1.0; }


*{
    box-sizing: border-box;
    &:after,&:before{
        box-sizing: border-box;
    }
}

.wrap-container{
    overflow: hidden;
    width: 100%;
}

.container {
    @extend %wrap-centered;
}
//*----------------------------------
//* Header Top
//*---------------------------------
.header-top{
    background: $white;
    height: 50px;
    overflow: hidden;
    position: relative;
    width: 100%;  
    &:after{
        background: $purple;
        bottom: 0px;
        content: '';
        display: block;
        height: $base-unit / 3;
        position: absolute;
        width: 100%;
    }
}



