// Buttons

.button {
  border: none;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-weight: bold;
  height: auto;
  line-height: 2rem;
  min-height: 2rem;
  padding: .5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  -webkit-appearance: none;
  appearance: none;

  // Add optional FF hack
}

.button-big { padding: 1rem 1.5rem; }

.button-small { padding: 0 1rem; }