//*-----------------------------------------------
//* Base font for vertical rhythm compass 
//* http://compass-style.org/reference/compass/typography/vertical_rhythm/
//*-----------------------------------------------

$base-font-size: 14px;
$base-line-height: 18px;

//*-----------------------------------------------
//* Colors
//*-----------------------------------------------

$black: #000;
$white: #ffffff;
$orange: #e26310;
$red: #f48d8d;
$green: #a8ffb7;
$yellow: #eaffa8;
$brown: #333;