//*-----------------------------------------------
//* Base font for vertical rhythm compass 
//* http://compass-style.org/reference/compass/typography/vertical_rhythm/
//*-----------------------------------------------

$base-font-size: 14px;
$base-line-height: 18px;

//*-----------------------------------------------
//* Colors
//*-----------------------------------------------

$black: #000;
$white: #ffffff;

$purple: #612d62;
$mid-purple: #954e99;
$light-purple: #c3a6cf;

$green: #005c56;
$mid-green: #269283;
$light-green: #97c2b8;