.row.mt2
  %h2
    Círculos 
    %small.status-info
      %i.fa.fa-child 
      = Circle.count
= render 'circles', { circles: @circles, title: "Revisados" }
= paginate @circles
.wrap-pagination.thm--pagination-aside
  = paginate @circles
