%h1 
  Círculos nuevos 
  = @circles.count

= link_to 'Buscar en Facebook',     search_circles_url
%br/
= link_to 'Ver círculos revisados', revised_circles_url
= render 'circles', { circles: @circles, title: "Revisados" }
